<a href="https://colab.research.google.com/github/jeonhyeonjoon1/22_10_python/blob/main/Python_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코랩과 깃헙의 첫번째 연결을 진행합니다.

In [5]:
print("Hello Github")
print("Hello Python")
print("안녕하세요")
print("programming에 입문하신 것을 축하드립니다")

Hello Github
Hello Python
안녕하세요
programming에 입문하신 것을 축하드립니다

In [6]:
print(5+6)
print(5-3)
print(5/3)
print(5//3)

11
2
1.6666666666666667
1

In [7]:
print("사랑해"*10)

사랑해사랑해사랑해사랑해사랑해사랑해사랑해사랑해사랑해사랑해

In [9]:
print(3.141592*10.0*10.0)
print((1/100)*1234)

314.1592
12.34

In [10]:
ftemp = 90.0
ctemp = ((ftemp-32.0)* 5.0/9.0)
print(ctemp)

32.22222222222222

In [14]:
print("강아지"+"고양이")

강아지고양이

In [16]:
x = 200
x = 100
print(x)

x = 100
y = 200
print(x)

100
100

In [17]:
x = 100
y = 200
z = (x+y)
print(z)
print(x+y)

300
300

In [19]:
x = 100
y = 200
sum = x + y
print(x, "과",y,"의 합은", sum, "입니다")

100 과 200 의 합은 300 입니다